DiscoBackend/DiscoBackend/obj/
DiscoBackend/.vs/
DiscoBackend/DiscoBackend/bin/
DiscoBackend/DiscoBackend/DiscoBackend.csproj.user
DiscoBackend/Disco.Dal/obj/
DiscoBackend/Disco.Dal/bin/
DiscoBackend/publish/
